@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tan";
  transition: 0.3s;
}

input:focus {
  outline: none;
}

.pr-text {
  color: #126782;
}
.se-text {
  color: #cbeef3;
}
.pr-bg {
  background-color: #023047;
}
