@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dosis), sans-serif;
}

input:focus {
  outline: none;
}

.pr-text {
  color: #126782;
}
.se-text {
  color: #cbeef3;
}
.pr-bg {
  background-color: #023047;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.customScroll {
  overflow-x: auto;
  padding-bottom: 1rem;
}

.customScroll::-webkit-scrollbar {
  height: 4px;
  margin: 0 auto;
}

.customScroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 20%;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  width: 40%;
  margin: 0 auto;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
